@import "tailwindcss";

@theme {
  --color-background: #0A0A0F;
  --color-card: #14141C;
  --color-buttons: #1B1B24;
  --color-primary: #FF2BD6;
  --color-secondary: #00D9FF;
  --color-location: #EFFF4F;
  --color-text-primary: #F5F5F5;
  --animate-move-gradient: moveGradient 6s ease infinite;


  @keyframes moveGradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}